@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    margin: 0;
    padding: 0 0 calc(vh+20px) 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 170px 1fr;
    font-family: 'Roboto', sans-serif;

    --cards: 0 2px 6px rgb(0 0 0 / 20%);
}

/* Header section */
#header {
    grid-row: 1 / 2;
    display: grid;
    grid: auto 1fr / 3fr 2fr;
    background-color: white;
    height: inherit;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    z-index: 1;
}

#search-svg {
    margin-right: 15px;
}

#search-svg, #notification-svg {
    width: 25px;
} 

#search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    margin-top: 15px;
    margin-left: 35px;
    align-items: center;
}

#searchbox {
    height: 35px;
    width: 80%;
    border-radius: 20px;
    border: 1px solid white;
    background-color: #d4d4d8;
    padding: 0 20px 0 20px;
}

#noti-profile {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    margin-top: 15px;
    margin-right: 50px;
    justify-self: end;
    align-items: center;
}

#personal-small {
    height: 45px;
    border-radius: 50px;
    margin-right: 25px;
    margin-left: 25px;
}

#profile-name {
    font-size: 17px;
}

#personal-greeting {
    display: flex;
    align-items: center;
    margin-left: 35px;
}

#personal-large {
    height: 50px;
    margin-right: 25px;
    border-radius: 50px;
}

#greeting {
    margin: 0 0 5px 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-bottom: 0;
}

#profile-handle {
    margin: 5px 0 0 0;
    padding-top: 0;
    font-size: 20px;
}

#buttons {
    display: flex;
    align-items: center;
    justify-self: end;
    margin-right: 50px;
}

.btn {
    height: 40px;
    width: 90px;
    background-color: #0284c7;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: white;
}

.btn:nth-child(2) {
    margin-left: 30px;
    margin-right: 30px;
}

.btn:hover {
    background-color: #026a9e;
    cursor: pointer;
}

/* Sidebar section */
#side-bar {
    background-color: #0284c7;
    font-size: small;
    color: white;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

#icon-dashboard, .icon-name {
    display: flex;
    margin-left: 30px;
}

.side-bar-svg, .dashboard-svg {
    fill: white;
    width: 25px;
    margin-right: 20px;
}

.dashboard-svg {
    width: 50px;
}

#icon-dashboard {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}
#dashboard {
    font-size: 28px;
    font-weight: 500;
}

#side-bar-top {
    margin-bottom: 30px;
}

/* Main page section */
#main {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 350px;
    background-color: #f1f5f9;
}

#projects {
    padding-left: 20px;
    padding-right: 20px;
}

#my-projects {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.section-heading {
    font-weight: 500;
    font-size: 20px;
    margin-top: 25px;
}

.card {
    height: 220px;
    display: grid;
    grid: 40px 1fr 50px / 8px 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.card-side {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 0;
    margin: 0;
    background-color: #fbbf24;
    border-radius: 10px 0 0 10px;
}

.project-title {
    align-self: end;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0 0 0 15px;
}

.project-text {
    font-size: 14px;
    color: gray;
    margin: 6px 0 0 15px;
}

.icons-section {
    align-self: start;
    justify-self: end;
    padding-right: 30px;
}

.card-icon {
    width: 22px;
    margin-top: 10px;
}

.card-icon:hover {
    cursor: pointer;
}

.card-icon:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
}

#announcements-trending {
    padding-left: 20px;
}

#announcements-card {
    background-color: white;
    box-shadow: var(--cards);
    width: 220px;
    height: 270px;
    border-radius: 10px;
    padding: 30px;
}

.announcement-heading {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.announcement-text {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: gray;
}

#trending-card {
    background-color: white;
    box-shadow: var(--cards);
    width: 240px;
    height: 280px;
    border-radius: 10px;
    padding: 20px;
}

.trend {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    height: 40px;
    border-radius: 50px;
    margin-right: 20px;
}

.handle {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.post {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}